<div class='d-flex justify-content-end'>
  <% if current_user.bookmark?(spot) %>
    <%= render 'unbookmark', { spot: spot } %>
  <% else %>
    <%= render 'bookmark', { spot: spot } %>
  <% end %>
</div>