<% content_for :title, "保存リスト" %>

<div class="container">
  <div class="row">
    <div class="col-4 mb-3 offset-4">
      <h1 class="text-center">保存リスト</h1>
    </div>
    <% if @spot.present? %>
      <div id="spots">
        <% @spots.each do |spot| %>
          <%= render spot %>
        <% end %>
      </div>
    <% else %>
      <h2 class="col-12 text-center">保存したスポットがありません</h2>
    <% end %>
  </div>
</div>
