<p style="color: green"><%= notice %></p>

<% content_for :title, "スポット一覧" %>

<h1>スポット一覧</h1>

<div id="spots">
  <% @spots.each do |spot| %>
    <%= render spot %>
  <% end %>
</div>

<%= link_to "スポット投稿", new_spot_path %>
