<% content_for :title, "スポット登録" %>

<h1 class="text-center">スポット登録</h1>

<%= render "form", spot: @spot %>

<br>

<div class="text-center">
  <%= link_to "スポット一覧", spots_path, class: "btn btn-outline-primary" %>
</div>
