<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 mb-2 text-center">
      <h1>Morning Hub</h1>
    </div>
    <div class="col-8 text-center">
      <p>朝から始まる、理想のワークスペースを見つけよう！</p>
      <p>Morning Hubは、朝の作業や読書に最適なカフェ、ワークスペース、カラオケなどの場所を見つけるためのアプリです。
      あなたの作業スタイルにぴったりのスポットを簡単に探せます！</p>
    </div>
    <div class="col-12 mb-2 text-center">
      <%= image_tag "top_page.png", size: '500x500', class: "img-fluid" %>
    </div>
  </div>
</div>

