<div class="container">
  <div class="row">
    <div class="col-6">
      <%= image_tag "top_page.png", size: '600x600' %>
    </div>
    <div class="col-6 align-self-center">
      <h1 class="text-center">Morning Hub</h1>
      <p>朝から始まる、理想のワークスペースを見つけよう！Morning Hubは、朝の作業や読書に最適なカフェ、ワークスペース、カラオケなどの場所を見つけるためのアプリです。
      あなたの作業スタイルにぴったりのスポットを簡単に探せます！</p>
    </div>
  </div>
</div>

