<div class="col-4 mb-3 mx-auto text-danger text-start" id="error_explanation" data-turbo-cache="false">
  <% if resource.errors.any? %>
    <% resource.errors.full_messages.each do |message| %>
      <%= message %><br />
    <% end %>
  <% end %>
</div>