<div class="container">
  <div class="row text-center">
    <div class="mb-3">
      <h1>プロフィール</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="mb-3">
      <h3>ユーザー名</h3>
      <p><%= @user.name %></p>
    </div>
  </div>
  <div class="row text-center">
    <div class="mb-3">
      <h3>メールアドレス</h3>
      <p><%= @user.email %></p>
    </div>
  </div>
</div>
