<% if notice %>
  <p class="col-5 mb-2 mx-auto alert alert-success text-center"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="col-5 mb-4 mx-auto alert alert-danger text-center"><%= alert %></p>
<% end %>