<footer class="bg-light">
  <div class='container mt-3'>
    <div class='row'>
      <div class='mx-auto'>
        <p>Copyright © sample All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>