<nav class="navbar navbar-expand navbar-light bg-light mt-3">
  <div class="container-fluid justify-content-center">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "利用規約", term_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "プライバシーポリシー", policy_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "問い合わせ", "https://forms.gle/Wi9pEGJAKtbARwDn8", class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>

<div class="text-center mb-2 bg-light">
  © 2025 MorningHub - All Rights Reserved.
</div>