<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="mb-3">不正なリクエストです</h1>
      <p>申し訳ありませんが、リクエストが不正であるため処理できませんでした。入力内容を確認し、再度お試しください。</p>
      <p><%= link_to 'ホームに戻る', root_path %></p>
    </div>
  </div>
</div>
