<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="mb-3">アクセス禁止</h1>
      <p>申し訳ありませんが、このページへのアクセス権限がありません。別のページをお試しください。</p>
      <p><%= link_to 'ホームに戻る', root_path %></p>
    </div>
  </div>
</div>
