<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="mb-3">内部サーバーエラー</h1>
      <p>申し訳ありませんが、サーバー内部でエラーが発生しました。後ほど再試行してください。</p>
      <p><%= link_to 'ホームに戻る', root_path %></p>
    </div>
  </div>
</div>
