<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="mb-3">ページが見つかりません</h1>
      <p>申し訳ありませんが、リクエストされたページは存在しないか、削除された可能性があります。</p>
      <p><%= link_to 'ホームに戻る', root_path %></p>
    </div>
  </div>
</div>
