<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="mb-3">処理できませんでした</h1>
      <p>申し訳ありませんが、入力されたデータに問題があります。もう一度ご確認の上、再度お試しください。</p>
      <p><%= link_to 'ホームに戻る', root_path %></p>
    </div>
  </div>
</div>
