
<p>MorningHubのパスワードリセット申請を受け付けました。</p>

<p>パスワードの再設定をご希望の場合は、以下URLをクリックし新しいパスワードをご登録ください。</p>

<p><%= link_to 'こちらのリンクからパスワードの再発行を行ってください。', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードリセットの申請に心当たりがない場合、対応は不要となります。</p>
<p>上のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
